body{
	background-color: #1e1e1e;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.box1.slide0{
  		background-image:url("images/itch-logo.png");
}
.box1.slide1{
  		background-image:url("images/dig-cover.png");
}
.box1.slide2{
  		background-image:url("images/ih-logo.png");
}
.about-body{
	background-image:
	linear-gradient(to right, rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0.5)),
	url("images/profile-image.png");
	background-position: top;
	background-size:cover;	
	
	repeat: no-repeat;
	
}
.center{
	display:inline-block;
	width:100%;
	height:100%;
	margin:auto;
}
.main-title{
	display: block;
	font-family: Arial;
	color:white;
	text-align:center;
}

.wrapper > div{
	border-radius: 10px;
}

.box{
	background-position: center;
	background-repeat:no-repeat;
}

.riptide-desc,
.about-desc{
	font-family: Arial;
	color: white;
}

a:link{
	text-decoration:none;
	color: grey;
}
a:visited{
	text-decoration:none;
	color: darkgrey;
}
.about-wrapper{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 1.5em;
	grid-auto-rows: minmax(372px, 400px);
	grid-auto-columns: minmax(100px, 300px);
	margin:auto;
}

.joke{
	color: rgba(255,255,255,0.3);
}
.about-title{
	color: white;
	font-family: Arial;
}

.about-wrapper > .about-desc{
	word-wrap: normal;
	background-color: rgba(0,0,0,0.3);
	width: 400px;
	text-outline: 1px black solid;
	padding: 3em;
	border-radius: 20px;
	font-size: 20px;
}

.about-profile-image{
	display:block;
	background-image:url("images/profile-image.png");
	border-radius: 10px;
	width:800px;
	height:450px;
	repeat:no-repeat;
	background-position: center;
}
@media screen and (orientation: landscape)
{



	.wrapper{
		display:grid;
		grid-template-columns: 435px 435px 435px 435px;
		grid-template-rows: 372px 470px;
		grid-gap: 1.5em;
		grid-auto-rows: minmax(372px, auto);
		grid-auto-columns: minmax(100px, auto);
		margin:auto;
	}

	.box-title{
		display: none;
		padding:2em;
		font-family:Arial;
		color: white;
	}

	.box-body{
		display: none;
		padding:3em;
		font-family:Arial;
		color: white;
	}

	.box5{
		background-image:url("images/profile-image.png");
		grid-column:2/4;
	}
	
	.box:hover{
		transform: scale(1.1);
		border-radius:10px;
	}
	.box0{
		background-image:url("images/github-logo.png");
	}
	.box0:hover{
		background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/github-logo.png");
		
	}

	.box1{
		background-size:cover;
	}
	.box1:hover{
		background-image:
		linear-gradient(to bottom, rgba(250, 92, 92, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/itch-logo.png");
	}
	.box2{
		background-image:url("images/twitch-logo.png");
	}
	.box2:hover{
		background-image:
		linear-gradient(to bottom, rgba(145, 71, 255, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/twitch-logo.png");
	}
	.box3{
		background-image:url("images/riptide-logo.png");
	}
	.box3:hover{
		background-image:
		linear-gradient(to bottom, rgba(59,109,112, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/riptide-logo.png");
	}
	.box4{
		background-image:url("images/upwork-logo.png");
	}
	.box4:hover{
		background-image:
		linear-gradient(to bottom, rgba(113,217,68, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/upwork-logo.png");
	}
	.box5:hover{
		background-image:
		linear-gradient(to bottom, rgba(255,255,255,0.52),rgba(30, 30, 30, 0.73)),
		url("images/profile-image.png");
	}
	.box6{
		background-image:url("images/linkedin-logo.png");
	}
	.box6:hover{
		background-image:
			linear-gradient(to bottom, rgba(34,89,130,0.52),rgba(30, 30, 30, 0.73)),
		url("images/linkedin-logo.png");
	}

	.show-on-hover{
		display:none;
	}
	.box:hover > .box-title, .box:hover > .box-body{
		display: block;
	}
}

@media screen and (orientation: portrait)
{
	.wrapper{
		display:grid;
		/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
		grid-template-columns: 1fr;
		grid-gap: 1em;
		grid-auto-rows: minmax(440px, auto);
		grid-auto-columns: minmax(100px, auto);
	}

	.box5{
		background-image:url("images/profile-image.png");
	}
	.box-title{
		display: block;
		padding:2em;
		font-family:Arial;
		color: white;
	}
	.box-body{
		display: block;
		padding:3em;
		font-family:Arial;
		color: white;
	}
	.box0{
		background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/github-logo.png");
	}

	.box1{
		background-image:
		linear-gradient(to bottom, rgba(250, 92, 92, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/itch-logo.png");
	}
	.box2{
		background-image:
		linear-gradient(to bottom, rgba(145, 71, 255, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/twitch-logo.png");
	}
	.box3{
		background-image:
		linear-gradient(to bottom, rgba(59,109,112, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/riptide-logo.png");
	}
	.box4{
		background-image:
		linear-gradient(to bottom, rgba(113,217,68, 0.52),rgba(30, 30, 30, 0.73)),
		url("images/upwork-logo.png");
	}
	.box5{
		background-image:
		linear-gradient(to bottom, rgba(255,255,255,0.52),rgba(30, 30, 30, 0.73)),
		url("images/profile-image.png");
	}
	.box6{
		background-image:
		linear-gradient(to bottom, rgba(34,89,130,0.52),rgba(30, 30, 30, 0.73)),
		url("images/linkedin-logo.png");
	}
}
