h1
{
    text-align:center;
    font-size: 3em;
}

.header-image
{
    border-radius: 1em;
    max-width: 100%;
    height: auto;
    filter: blur(2px), saturate(3);
    animation: fadeIn ease 3s;
}

body
{
    background-color: darkslategrey;
}

@keyframes fadeIn
{
0% { opacity: 0;}
100% { opacity: 1;}
}
